div.conten-cart{
    align-items: centers;
    width: 85%;
    margin-top: 1%;
    font-size: 12px;

   }
   div.content-cart > button{
    padding-top:0px;
    padding-bottom: 0px;
    font-size:10px !important;
   }
   div.media{
    align-items: centers;
    display: flex;
    width: 25%;
    padding: 0px;
   }
   div.media > h5{
    font-size:15px;
    margin-top:5%;
    padding-left:10px;
   }
   div.media > a{
    width: 50px;
    padding: 0;
    margin:0;
   }
   div.all_cart{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    margin:0.7%;
   }
   div.gio_hang{
    width: 35%;
    position: absolute;
    right:-100%;
    top:30%;
    border: 1px solid black;
    background-color:white;
    position:fixed;

   }
   div.all_all{
    width: 100%;
   }
   div.gio_hang > h4{
    width: 100%;
    text-align: center;
    background-color: brown;
    color:white;
    padding: 5px;
   }
   .xem_ct{
    background-color:brown;
    width:100%;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    padding: 5px;
   }
   .xem_ct:hover{
     color: red;
    }
   .style_class{
    position:fixed;
    right:-50px !important;
   }