{% extends 'layout/base.html' %}

{%block title%} CHI TIET DAT PHONG {%endblock%}
{% block css %}
<link href="{{url_for('static', filename = 'css/phong_detail.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename = 'css/cart.css')}}" rel="stylesheet">
{%endblock%}
{% block content %}
<!-- đây là phần html thanh giỏ hàng -->
<div class="gio_hang" id="gio">
    <h4>Giỏ hàng</h4>
    <div class="all_all" id="all"></div>
    <a href="{{url_for('cart')}}" class="xem_ct" >Xem chi tiết</a>
</div>
<!-- đây là phần html Thông tin phòng đặt -->

<h1 class="text-center info-text">Thông Tin Đặt Phòng</h1>
<div class="row" style="margin-top:50px; margin-bottom:50px">
    <div class="col-md-6 col-xs-12">
        <img id="img" style="width:100%" class="card-img-top" src="{{ p.image }}" alt="{{ p.tenPhong }}">

        <form method="" action="">
            <div class="form-group">
                <label for="ngayNhan" class="form-label">Ngày Nhận phòng:</label>
                <input type="date" class="form-control" id="ngayNhan" name="ngayNhan" required>
            </div>
            <div class="form-group">
                <label for="ngayTra" class="form-label">Ngày trả phòng:</label>
                <input type="date" class="form-control" id="ngayTra" name="ngayTra" required>
            </div>

            <div class="form-group">
                <label for="" class="form-label">Số lượng khách:</label>
                 <select style="width:100%" id = "soluong" name="">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label>Loại Khách:</label>
                <p>Quy định: khách trong nước: 1, Khách nước ngoài: 2</p>
                <select style="width:100%" id = "select" name="">
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary"
                    onclick="addtocart({{p.id}},'{{p.tenPhong}}',{{p.LoaiPhong.donGia}})">Đặt Phòng</button>
        </form>

    </div>

    <div class="col-md-6 col-xs-12 info-user">
        <h4 class="card-title">{{ p.tenPhong }}</h4>
        <p class="card-text">{{p.LoaiPhong.donGia }} VNĐ\Ngày</p>
        <p class="card-text">{{p.moTa}}</p>

        <form>
            <h5 style="font-weight:bold">Thông Tin Người Đặt</h5>
            <div class="form-group form-true">
                <label for="name">Họ Tên: </label>
                <input value="{{current_user.name}}" type="text" class="form-control" id="name" name="name">

                <label for="Email">Email: </label>
                <input value="{{current_user.email}}" type="text" class="form-control" id="Email" name="Email">
            </div>
            <br>
            <div class="form-group form-true">
                <label for="cmnd">Số CMND: </label>
                <input value="{{current_user.cmnd}}" type="text" class="form-control" id="cmnd" name="cmnd">

                <label for="adress">Địa Chỉ: </label>
                <input value="{{current_user.diaChi}}" type="text" class="form-control" id="adress" name="adress">
            </div>

        </form>

    </div>
</div>

<div class="form-group">
    <textarea style="width:100%" class="from-control">Nhập nội dung bình luâận...</textarea>
</div>
<input type="button" class="btn btn-primary" value="Bình luận">


<div class="row comment" style="margin-top:30px">
    <div class="col-md-1 col-xs-4">
        <img src="{{url_for('static', filename = 'image/avatar.jfif')}}" class="img-fluid rounded-circle" alt="demo">
    </div>
    <div class="col-md-11  col-xs-8">
        <p>San pham tuyet voi</p>
        <p><em>2021-12-07 9:47</em></p>
    </div>

    {% endblock %}



