{% extends 'layout/base.html' %}

{%block title%} CHI TIET DAT PHONG {%endblock%}
{% block css %}
<link href="{{url_for('static', filename = 'css/phong_detail.css')}}" rel="stylesheet">
{%endblock%}
{% block content %}
<h1 class="text-center info-text">Thông Tin Đặt Phòng</h1>
<div class="row" style="margin-top:50px; margin-bottom:50px">
    <div class="col-md-6 col-xs-12">
        <img style="width:100%" class="card-img-top" src="{{ p.image }}" alt="{{ p.tenPhong }}">

        <form method="post" action="">
             <div class="mb-3 mt-3">
              <label for="ngayNhan" class="form-label">Ngày Nhận phòng:</label>
              <input type="date" class="form-control" id="ngayNhan" name="ngayNhan">
            </div>
            <div class="mb-3 mt-3">
              <label for="ngayTra" class="form-label">Ngày trả phòng:</label>
              <input type="date" class="form-control" id="ngayTra" name="ngayTra">
            </div>

            <div class="mb-3 mt-3">
              <label for="soluong" class="form-label">Số lượng khách:</label>
              <input placeholder="Nhập tối đa là 3 khách" type="text" class="form-control" id="soluong" name="soluong">
            </div>

            <label>Khách nước ngoài: </label>
            <input type="checkbox" name="" value="" />
            <br>
             <br>
            <div class="container" style="width:200px">
              <a href="javascript:;" onclick="addToCart({{ p.id }}, '{{ p.name }}', {{ p.price }})"
                 class="btn btn-danger">Đặt Phòng</a>
            </div>

      </form>

    </div>

    <div class="col-md-6 col-xs-12 info-user">
        <h4 class="card-title">{{ p.tenPhong }}</h4>
        <p class="card-text">{{ "{:,.1f}".format(p.donGia) }} VNĐ</p>
        <p class="card-text">{{p.moTa}}</p>

        <form>
            <h5 style="font-weight:bold">Thông Tin Người Đặt</h5>
            <div class="form-group form-true">
                <label for="name">Họ Tên: </label>
                <input value="{{current_user.name}}" type="text" class="form-control" id="name" name="name">

                <label for="Email">Email: </label>
                <input value="{{current_user.email}}" type="text" class="form-control" id="Email" name="Email">
            </div>
            <br>
              <div class="form-group form-true">
                <label for="cmnd">Số CMND: </label>
                <input value="{{current_user.cmnd}}" type="text" class="form-control" id="cmnd" name="cmnd">

                <label for="adress">Địa Chỉ: </label>
                <input  value="{{current_user.diaChi}}" type="text" class="form-control" id="adress" name="adress">
            </div>

        </form>

    </div>
</div>

<div class="form-group">
    <textarea style="width:100%" class="from-control">Nhập nội dung bình luâận...</textarea>
</div>
<input type="button" class="btn btn-primary" value="Bình luận">


<div class="row comment" style="margin-top:30px">
    <div class="col-md-1 col-xs-4">
        <img src="{{url_for('static', filename = 'image/avatar.jfif')}}" class="img-fluid rounded-circle" alt="demo">
    </div>
    <div class="col-md-11  col-xs-8">
        <p>San pham tuyet voi</p>
        <p><em>2021-12-07 9:47</em></p>
    </div>

    {% endblock %}



